* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
}
body {
    overflow-x: hidden;
    color: white;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 130px;
}
.navbar {
    display: flex;
    align-items: center;
    color: white;
}
.aaba {
    margin-right: 20px;
}
.logo {
    text-decoration: none;
    display: flex;
    margin-top: 38px;
}
.logo i {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
h2 {
    padding: 30px;
}
.bugattih {
    color: white;
}
.bugatti_head {
    color: white;
}
.background_image1 {
    background-image: url("images/discory_logo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
}
.middle {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destrier {
    font-family: "Pinyon Script", cursive;
    font-weight: 900;
    font-size: 120px;
}
.destrier h1 {
    color: black;
}
.astot {
    margin-top: -80px;
    color: green;
    margin-left: 130px;
}
.discover {
    margin-left: 280px;
    border: 2px solid black;
    width: 250px;
    padding: 10px;
    border-radius: 18px;
    color: black;
    font-size: 20px;
    text-align: center;
}
.founded {
    background-color: black;
    color: white;
    font-size: 35px;
    line-height: 1.5;
    padding: 150px 15%;
}
.dis_imges {
    width: 100%;
    background-color: black;
}
.dis_imges img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.more_then {
    width: 100%;
    background-color: black;
    padding: 70px 5%;
}
.more {
    font-size: 30px;
    font-weight: 400;
    color: white;
}
.more_thenp {
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 200;
    color: white;
    padding: 30px 0 70px 50px;
}
.discovery3 {
    display: block;
    width: 75%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
.discory_last {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 70px;
}
.footerf {
    background-color: #131313;
    padding-top: 60px;
}
.footerdiv {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
}
.footer {
    font-size: 20px;
}
.footer ul {
    list-style: none;
}
li {
    padding: 10px;
    font-size: 20px;
}
.fotter {
    padding: 20px 40px;
}
.a2026 {
    font-size: 30px;
    color: white;
}
.fotterss {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    font-size: 20px;
}
.logodiv {
    padding: 40px;
}
.logos {
    display: flex;
    gap: 30px;
    list-style: none;
}
.logos a {
    color: white;
}
.fa-brands {
    font-size: 25px;
}
@media (max-width: 900px) {
    nav {
        gap: 20px;
        justify-content: space-between;
        padding: 0 20px;
    }
    .destrier {
        font-size: 70px;
    }
    .astot {
        margin-left: 20px;
        margin-top: -30px;
    }
    .discover {
        margin: 20px auto;
    }
    .founded {
        padding: 80px 30px;
        font-size: 25px;
    }
    .more_then {
        padding: 50px 30px;
    }
    .more_thenp {
        padding: 30px 0 50px;
    }
    .discovery3 {
        width: 100%;
    }
    .footerdiv {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .background_image1 {
        min-height: 700px;
    }
    nav h2 {
        display: none;
    }
    .middle {
        height: 500px;
    }
    .destrier {
        font-size: 45px;
    }
    .astot {
        margin: 0;
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }
    .discover {
        margin: 10px auto;
        font-size: 16px;
        width: 210px;
    }

    .founded {
        font-size: 20px;
        padding: 60px 20px;
    }

    .more {
        font-size: 25px;
    }

    .more_thenp {
        font-size: 17px;
    }

    .fotterss {
        flex-direction: column;
    }
}